<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--ios是否运行创建快捷启动方式-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--ios顶部通知栏的样式 黑色-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hito嗨淘-搜索中心</title>
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div class="container">
    <header class="ht_top">
        <a href="javascript:history.back()" class="icon_back fa fa-arrow-left"></a>
        <h3>搜索中心</h3>
    </header>
    <main class="ht_main">
        <div class="ht_search">
            <form action="#">
                <input type="search" placeholder="请搜索你喜欢的商品">
            </form>
            <a href="javascript:;" class="search_btn">搜索</a>
        </div>
        <div class="ht_history">
            <div class="mui-clearfix">
                <span class="title">搜索历史</span>
                <span class="icon_clear fa fa-trash"> 清空记录</span>
            </div>
            <ul>
                <li><a href="#">nike</a><span class="icon_delete fa fa-close"></span></li>
                <li><a href="#">耐克</a><span class="icon_delete fa fa-close"></span></li>
            </ul>
        </div>
    </main>
    <footer class="ht_foot">
        <ul>
            <li><a href="index.html"><span class="fa fa-home"></span><p>首页</p></a></li>
            <li class="active"><a href="category.html"><span class="fa fa-bars"></span><p>分类</p></a></li>
            <li><a href="user/cart.html"><span class="fa fa-shopping-cart"></span><p>购物车</p></a></li>
            <li><a href="user/user.html"><span class="fa fa-user"></span><p>会员中心</p></a></li>
        </ul>
    </footer>
</div>
<script type="text/html" id="searchTpl">
    <% if(model && model.length){ %>
    <div class="mui-clearfix">
        <span class="title">搜索历史</span>
        <span class="icon_clear fa fa-trash"> 清空记录</span>
    </div>
    <ul>
        <% for(var i = model.length-1 ; i >=0 ; i --){ %>
        <li><a data-key="<%=model[i]%>" href="javascript:;"><%=model[i]%></a><span class="icon_delete fa fa-close"></span></li>
        <% } %>
    </ul>
    <%}else{%>
    <span class="title">没有历史搜索记录。</span>
    <%}%>
</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="js/common.js"></script>
<script src="js/search.js"></script>
</body>
</html>